src/main/mule/diwali-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45df5e4f-84b1-4f16-9182-1ed279b48420" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="diwali-muleFlow" doc:id="2d02d34a-3833-4dca-8cf7-c0e36592bbb8" >
		<http:listener doc:name="Listener" doc:id="b3833f80-9f76-43eb-b08b-7ba0f5c14185" config-ref="HTTP_Listener_config" path="/command"/>
		<logger level="INFO" doc:name="Logger" doc:id="4bcb9158-40cd-474e-b7e9-14bcdef1f829" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="32983de1-e3a5-47ee-a40d-3c1a6de2d73d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Time" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
